name: Run Tests

on:
  pull_request_review:
    types: [submitted]

jobs:
  run-tests:
    if: github.event.review.state == 'approved'
    runs-on: ubuntu-latest

    env:
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
      CO_API_KEY: ${{ secrets.CO_API_KEY }}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      VOYAGE_API_KEY: ${{ secrets.VOYAGE_API_KEY }}
      AWS_S3_BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}
      AWS_S3_REGION: ${{ secrets.AWS_S3_REGION }}
      AWS_S3_ACCESS_KEY: ${{ secrets.AWS_S3_ACCESS_KEY }}
      AWS_S3_SECRET_KEY: ${{ secrets.AWS_S3_SECRET_KEY }}
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Poppler
        run: sudo apt-get install -y poppler-utils

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Install dsParse dependencies
        run: |
          pip install -r dsrag/dsparse/requirements.txt
          
      - name: Install optional dependencies
        run: |
          pip install boto3 botocore vertexai

      - name: Run unit tests
        run: |
          pytest tests/unit

      - name: Run integration tests
        run: |
          pytest tests/integration

      - name: Run dsParse unit tests
        run: |
          pytest dsrag/dsparse/tests/unit

      - name: Run dsParse integration tests
        run: |
          pytest dsrag/dsparse/tests/integration
